<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <div id="app">
        <p v-if="show">You can see  me!</p>
        <p v-else>Now you see me!</p>

        <template v-if='show'>
            <h1>Heading</h1>
            <p>Inside a template!</p>
        </template>

        <p>Do you also see me?</p>
        <button @click='show = !show'>Switch</button>
    </div> -->

    <div id='app'>
        <ul>
            <li style="list-style: none"
             v-for="(ingredient,i) in ingredients">
                {{ingredient}} ({{ i + 1}})
            </li>
        </ul>
        <button @click="ingredients.push('spices')">Add ingredient</button>
    </div>

    <!-- <div id="app">
        <ul>
            <li v-for="person in persons">
                <div v-for="(value,key) in person">
                    {{key}}: {{value}}
                </div>
            </li>
        </ul>
    </div> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>

</html>